.arial{
    font-family: Arial;
}

.colorContrast{
    width: 400px;
    margin-left: 50px;
}

.colorContrastExample{
    width: 800px;
    margin-left: 50px;
}

.colorContrastResults{
    width: 500px;
    margin-left: 50px;
}

.container-item-topic {    
    background-color: white; 
    border-radius: 20px;
    /* margin-bottom: 30px; */
    width: 900px;
}


.container-item-topic iframe{
    margin-left: 50px;
}

.container-item-topic .text{
    margin: 30px;
}

.examples{
    display: flex;
}

.examples img{
    height: auto;
    margin-left: 50px;
    width: 250px;
}

.examples-text{
    margin-left: 20px;
}

h1{
    font-size: 20pt;
}

.fonts h3{
    margin-left: 50px;
}

.verdana{
    font-family: Verdana;
}

.trebuchet{
    font-family: "Trebuchet MS";
}