@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Code+Pro&display=swap');

body{
    background-color: #a9a9a98c;
    font-family: 'Noto Sans', sans-serif;
}

.center{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%; */
    position: absolute;
    margin: auto;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
}

.center img{
    margin-left: 50px;
}

.logo{
    margin-left: 80px;
    margin-top: 100px;
    width: 550px;
}

/* .highlight{
    background-color: white;
    border-radius: 4px;
    font-size: 16pt;
    padding: 5px;
    text-align: center;
} */

.highlight{
    background-color: white;
    border-radius: 4px;
    font-size: 16pt;
    margin-left: 110px;
    padding: 10px;
    text-align: left;
    width: 44%;
}

.title {
    border-width: 0 0 5px;
    border-style: solid;
    font-family: 'Sen', sans-serif;
    font-size: 56pt;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 180px;
    width: 50%;
}

.lower-nav-bar {
    bottom: 0;
    /* display: flex; */
    display: block;
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    right: 0;
    width: 100%;
}

.lower-nav-bar-item {
    background-color: white;
    border: 0.2px solid lightgrey;
    border-radius: 20px 20px 0px 0px;
    display: inline-block;
    line-height: 80px;
    height: 80px;
    text-align: center;
    width: 24.96%;
}

.lower-nav-bar-item:hover {
    background-color: #333;
    color: white;
}